<script src="/js/itens_carrinho.js" defer></script>

<h1 class="titulo-masc">Moda Feminina</h1>
<ul class="produto">
    <li>
        <div class="showcase">
            <div class="show_shoe">
        <p class="sap-mas">Relógio ChronoMaster</p>
        <img class="teste" src="/img/relogio-3.png" alt="relogio" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">R$175.95</span></p>
        <button class="adicionar-ao-carrinho" data-nome="relogio ChronoMaster feminino" data-preco="175.95" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
        <div>
    </li>
    <li>
        <div class="showcase">
            <div class="show_shoe">
        <p class="sap-mas">Relógio TimeMender</p>
        <img src="/img/relogio-5.png" alt="relogio" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">R$195.95</span></p>
        <button class="adicionar-ao-carrinho" data-nome="relogio TimeMender feminino" data-preco="195.95" data-qtde="1" cod-prod="2">Adicionar ao Carrinho</button>
        <div>
    </li>
          <li>
        <div class="showcase">
            <div class="show_shoe">
        <p class="sap-mas">Relógio EternaSync</p>
        <img src="/img/relogio-7.png" alt="relogio" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">R$180.95</span></p>
        <button class="adicionar-ao-carrinho" data-nome="relogio EternaSync feminino" data-preco="195.95" data-qtde="1" cod-prod="2">Adicionar ao Carrinho</button>
        <div>
    </li>  <!-- Outros produtos aqui -->
</ul>

<link rel="stylesheet" href="/css/feminino.css">
