<br>
<nav>
    <a href="/cadastrarRelogio">Cadastrar Rel贸gio</a>&emsp;
    <a href="/listarRelogio">Listar Rel贸gios</a>&emsp;
    <a href="/editarRelogio">Editar Rel贸gio</a>&emsp;
    <a href="/excluirRelogio">Excluir Rel贸gio</a>
</nav>
<br><br>
{{#if msg}}
<p>{{msg}}</p>
{{/if}}

<link rel="stylesheet" href="/css/gerenciador.css">