<link rel="stylesheet" href="css/home.css">



<body>

    <!-- Banner Section -->
    <section id="banner">
        <img src="/img/relogio_banner1.jpg" alt="Banner Image" class="banner-image">
        <div class="overlay">
            <div class="banner-content">
                <h1>Descubra o Tempo com Estilo</h1>
                <p>Encontre os relógios perfeitos para cada momento.</p>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer">
        <div class="container" id="copy-container">
            <p>Todos direitos reservados <span class="primary-color">CronoStore</span> - A sua loja de relógios</p>
        </div>
    </footer>

</body>
</html>

