/* Estilos específicos para o formulário de cadastro de cliente */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    color: #14213d;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

button {
    background-color: #fca311;
    color: #000000;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e5e5e5;
}

/* Mensagem de feedback */
p {
    color: #14213d;
    margin-top: 10px;
}

/* Adicione estilos adicionais conforme necessário */
